section.expertise{
    width:100%;
    height:auto;
    margin:60px 0;

    @import "infosTitles.scss";

    ul{
        list-style: none;

        li{
            float:left;
            width:auto;
            padding:15px 25px;
            box-sizing: border-box;
            background-image:$cardFooterGradient;
            margin:0 20px 20px 0;
            transform: skewX(-15deg);

            p{
                color:$white;
                font-weight:600;
                font-size: 20px;
            }
        }
    }
}