section.experiences{
    width:100%;
    height:auto;
    margin:60px 0;

    @import "infosTitles.scss";

    ul{
        list-style: none;
        padding:20px 0 0 0;
        box-sizing: border-box;

        li{
            width:100%;
            padding:15px;
            box-sizing: border-box;
            border-radius: 30px;
            margin:0 0 20px 0;
            display:flex;
            align-items:center;
            justify-content: space-between;
            background-image: $cardFooterGradient;

            p{
                color:$white;
                font-size:16px;

                &.jobName{
                    font-size:20px;
                    font-family:$serif;
                }

                &.jobLocation{
                    font-weight:300;
                }

                &.date{
                    font-style:italic;
                }
            }
        }
    }
}