main.infos {
    width: $maxWidth;
    height:auto;
    margin: auto;

    @import "quote.scss";
    @import "expertise.scss";
    @import "technologies.scss";
    @import "formations.scss";
    @import "experiences.scss";
}